* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-family: 'Marcellus', serif;
   letter-spacing: 1px;
}

.start {
   width: 100%;
   /* height: 100vh; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/movie-bg.jpeg);
   background-size: cover;
   background-position: center;
   padding: 10px 8%;
   position: relative;
}

/* top header */
.header {
   width: 100%;
   height: 20%;
   margin-top: 2%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.top_logo {
   height: 46%;
   width: 5%;
}

.top_logo img {
   width: 90%;
}

.top_heading h1 {
   text-transform: uppercase;
   color: whitesmoke;
   font-size: 40px;
}

/* grid styling */

/* slide {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 100vh;
   position: relative;
   background: #eee;
   text-align: center;
   padding: 0 2em;
   font-size: 2rem;
   margin: 0;
   letter-spacing: 1rem;
 } */


h3 {
   display: flex;
   justify-content: center;
   padding: 20px;
   font-size: 22px;
}

#tab-portfolio {
   background: transparent;
   color: #fff;
   flex-direction: column;
}

.cards {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   margin: 0 auto;
   max-width: 1140px;
   padding: 0px 28px;
   grid-gap: 30px;
   align-items: stretch;
}

.card {
   display: block;
   background-color: skyblue;
   border-radius: 20px;
   box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
   width: 100%;
   height: 140px;
   transition: transform 0.3s cubic-bezier(0.374, 0.019, 0.035, 1.861);
}

#action {
   background: url(Images/action.avif);
   background-size: cover;
}

#adventure {
   background: url(Images/adventure.jpg);
   background-size: cover;
}

#comedy {
   background: url(Images/comedy.webp);
   background-size: cover;
}

#romance {
   background: url(Images/romance.jpg);
   background-size: cover;
}

#drama {
   background: url(Images/drama.jpeg);
   background-size: cover;
}

#horror {
   background: url(Images/horror.webp);
   background-size: cover;
}

#science {
   background: url(Images/sci-fi.jpg);
   background-size: cover;
}

#historical {
   background: url(Images/historical.webp);
   background-size: cover;
}

#fantasy {
   background: url(Images/fantasy.jpg);
   background-size: cover;
}

#crime {
   background: url(Images/crime.jpg);
   background-size: cover;
}

#all {
   background: url(Images/all.webp);
   background-size: cover;
}

.card:hover {
   transform: scale(1.18);
}

button {
   display: flex;
   justify-content: center;
   align-content: center;
   margin: 50px 65px;
}

.custom-btn {
   width: 130px;
   height: 40px;
   color: #fff;
   border: none;
   padding: 8px 8px;
   font-weight: 900;
   font-size: 20px;
   background: transparent;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
   outline: none;
}

.custom-btn:hover {
   text-shadow: 2px 2px 5px #2980B9;
}

/* footer styling */
.footer {
   width: 100%;
   text-align: right;
   margin-bottom: 1%;
}

.footer a {
   margin-right: 2%;
   text-decoration: none;
   font-size: 30px;
   background-image: linear-gradient(45deg, #2980B9, #6DD5FA, #FFFFFF);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
}

.fa-arrow-right {
   margin-left: 1%;
}